:root {
    --standard-bgcolor: rgb(63, 64, 65)
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    background-color: var(--standard-bgcolor);
    color: lightcyan;
    font-size: 125%;
}
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-row > label {
    color: cyan;
    display: block;
    margin: 10%;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 1px;
}
.form-row > input {
    background-color: var(--standard-bgcolor);
    color: white;
    border-color: white;
    width: 100%;
    padding: 1px;
    margin: 1px;
    font-size: 100%;
}
.form-row > button {
    display: block;
    margin: 0px;
    width: 100%;
}
.form-row > button, .form-row > input {
    height: 100%;
    border-radius: 5px;
}
h1 {
    margin: 3%;
    margin-bottom: 1%;
    font-size: 200%;
    color: cyan;
}
ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}
li {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2px;
}
li > input {
    box-sizing: unset;
    width: 100%;
    height: 200%;
}
li:has(input:checked) label {
    color: hsl(200, 20%, 40%);
}
li > label {
    margin-right: 5px;
}

li > button {
    background-color: red;
}